<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test.electrotest">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.test.electrotest.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:targetSandboxVersion="1"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.test.electrotest.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.test.electrotest.Activities.UserActivity" />
        <activity android:name="com.example.test.electrotest.Activities.TestActivity" />
        <activity android:name="com.example.test.electrotest.Activities.RegisterActivity" />
        <activity android:name="com.example.test.electrotest.Activities.StartTestActivity" />
        <activity android:name="com.example.test.electrotest.Activities.StatisticActivity" />
        <activity android:name="com.example.test.electrotest.Activities.ProfileActivity" />
        <activity android:name="com.example.test.electrotest.Activities.TicketsActivity" />
        <activity android:name="com.example.test.electrotest.Activities.FinishActivity"></activity>
    </application>

</manifest>